<mat-tab-group mat-align-tabs="start" *transloco="let t; read: 'marks'">
  <mat-tab [label]="t('marksTab')">
    <app-marks-edit-table
      [selectedGroupId]="selectedGroupId"
      [selectedDisciplineId]="selectedDisciplineId"
      (setSaved)="setMarksSaved($event)"
    ></app-marks-edit-table>
  </mat-tab>
  <mat-tab [label]="t('attendanceTab')">
    <app-marks-edit-attendance
      [selectedGroupId]="selectedGroupId"
      [selectedDisciplineId]="selectedDisciplineId"
      (setSaved)="setAttendanceSaved($event)"
    ></app-marks-edit-attendance>
  </mat-tab>
  <mat-tab [label]="t('modulesTab')">
    <app-marks-edit-jobs
      [selectedGroupId]="selectedGroupId"
      [selectedDisciplineId]="selectedDisciplineId"
      (setSaved)="setModulesSaved($event)"
    ></app-marks-edit-jobs>
  </mat-tab>
</mat-tab-group>
