span {
  margin-right: 10px;
}

.mat-form-field-infix {
  width: 90px;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.dialog-container {
  display: flex;
  justify-content: space-between;

  .right-fields {
    width: 50%;
    padding-left: 25px;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.mat-error {
  font-size: 12px;
}

::ng-deep .count-way-toggle {
  margin-bottom: 30px;

  .mat-slide-toggle .mat-slide-toggle-bar {
    background-color: rgba(103, 58, 183, 0.54);
  }

  .mat-slide-toggle.mat-primary .mat-slide-toggle-thumb {
    background-color: #673ab7;
  }
}
