<div class="filters-container" *transloco="let t; read: 'groups'">
  <mat-form-field class="students-filter">
    <input matInput (keyup)="applyFilter($event.target.value)" [placeholder]="t('studentsFilter')" />
  </mat-form-field>
  <div class="edit-button">
    <button class="add-button btn btn-success" *ngIf="isAdmin" routerLink="/groups/edit">
      {{ t('addGroupButton') }}
    </button>
    <button
      *ngIf="selectedGroup && isAdmin"
      mat-raised-button
      color="primary"
      routerLink="/groups/edit/{{ selectedGroup.id }}"
    >
      {{ t('editGroupButton') }}
    </button>
    <button *ngIf="selectedGroup && isAdmin" mat-raised-button color="primary" click="uploadStudents()">
      Browse
      <input type="file" id="upload-excel-input" (change)="onFilesBrowse($event)" />
    </button>
  </div>
  <mat-form-field class="groups-filter">
    <mat-label>{{ t('selectGroupDropDown') }}</mat-label>
    <input type="text" matInput [(ngModel)]="selectValue" (ngModelChange)="filter()" [matAutocomplete]="auto" />
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      [displayWith]="displayFn"
      (optionSelected)="selectGroup($event.option.value)"
    >
      <mat-option *ngFor="let group of filteredGroups" [value]="group">
        {{ group.groupNumber }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

<table
  mat-table
  [dataSource]="dataSource"
  matSort
  class="mat-elevation-z8"
  *transloco="let t; read: 'groups'"
  matSortActive="numberInList"
  matSortDirection="asc"
>
  <!-- numberInList Column -->
  <ng-container matColumnDef="numberInList">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="numberInList" class="cell">No.</th>
    <td mat-cell *matCellDef="let element" class="cell">
      {{ element.numberInList }}
    </td>
  </ng-container>

  <!-- firstName Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="cell">{{ t('firstName') }}</th>
    <td mat-cell *matCellDef="let element" class="cell">
      {{ element.firstName }}
    </td>
  </ng-container>

  <!-- lastName Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="cell">{{ t('lastName') }}</th>
    <td mat-cell *matCellDef="let element" class="cell">
      {{ element.lastName }}
    </td>
  </ng-container>

  <!-- email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="cell">{{ t('email') }}</th>
    <td mat-cell *matCellDef="let element" class="cell">{{ element.email }}</td>
  </ng-container>

  <!-- headStudent Column -->
  <ng-container matColumnDef="headStudent">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="cell">{{ t('role') }}</th>
    <td mat-cell *matCellDef="let element" class="cell">
      {{ element.headStudent ? t('starostaRole') : t('studentRole') }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="cell"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" class="cell"></tr>
</table>
