<div class="filters-container" *transloco="let t; read: 'teachers'">
  <mat-form-field class="teachers-filter">
    <input matInput (keyup)="applyFilter($event.target.value)" [placeholder]="t('teachersFilter')" />
  </mat-form-field>
  <div class="edit-button">
    <button mat-raised-button color="primary" routerLink="/teachers/edit">{{ t('editButton') }}</button>
  </div>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" *transloco="let t; read: 'teachers'">
  <!-- firstName Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="cell">{{ t('firstName') }}</th>
    <td mat-cell *matCellDef="let element" class="cell">
      {{ element.firstName }}
    </td>
  </ng-container>

  <!-- lastName Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="cell">{{ t('lastName') }}</th>
    <td mat-cell *matCellDef="let element" class="cell">
      {{ element.lastName }}
    </td>
  </ng-container>

  <!-- email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="cell">{{ t('email') }}</th>
    <td mat-cell *matCellDef="let element" class="cell">{{ element.email }}</td>
  </ng-container>

  <!-- isAdmin Column -->
  <ng-container matColumnDef="isAdmin">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="cell">{{ t('role') }}</th>
    <td mat-cell *matCellDef="let element" class="cell">
      {{ element.isAdmin ? t('admin') : t('teacher') }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="cell"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" class="cell"></tr>
</table>
