<div class="students-filter" *transloco="let t; read: 'marks'">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" [placeholder]="t('studentsFilter')" />
  </mat-form-field>
  <div class="top-buttons">
    <button
      mat-raised-button
      color="primary"
      type="button"
      routerLink="/marks/{{ selectedDisciplineId }}/{{ selectedGroupId }}"
      class="router-button"
    >
      {{ t('backButton') }}
    </button>
    <button mat-raised-button color="primary" type="submit" class="router-button">
      {{ t('saveButton') }}
    </button>
    <button mat-raised-button color="primary" id="redirect-button" type="submit" class="router-button">
      {{ t('saveAndCloseButton') }}
    </button>
    <button (click)="add()" type="button" class="add-button btn btn-success">{{ t('addButton') }}</button>
  </div>
</div>
<form ngNativeValidate (ngSubmit)="save()" *transloco="let t; read: 'marks'">
  <div class="scroll-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <!-- studentName Column -->
      <ng-container matColumnDef="studentName" sticky>
        <th mat-header-cell *matHeaderCellDef class="student-cell" mat-sort-header>{{ t('studentsTitle') }}</th>
        <td mat-cell *matCellDef="let element" class="student-cell">
          {{ element.studentName }}
        </td>
        <td mat-footer-cell *matFooterCellDef class="student-cell"></td>
      </ng-container>

      <ng-container matColumnDef="maxPointHeader" sticky>
        <th class="student-cell" mat-header-cell *matHeaderCellDef>{{ t('maxPoint') }}</th>
      </ng-container>
      <ng-container *ngFor="let column of maxPointFuilds; let i = index" [cdkColumnDef]="column.columnDef(i)">
        <th
          md-header-cell
          *cdkHeaderCellDef
          [ngClass]="{
            'alert-danger': isDeleted(column.jobId),
            'alert-success': isAdded(column.jobId)
          }"
          class="input-cell"
        >
          <input
            type="number"
            class="input-cell--content"
            [ngModel]="column.header"
            (ngModelChange)="maxPointChange($event, i)"
            name="maxPoint-{{ i }}"
          />
        </th>
      </ng-container>

      <!-- Generic column definition -->
      <ng-container *ngFor="let column of columns; let i = index" [cdkColumnDef]="column.columnDef(i)">
        <th
          md-header-cell
          *cdkHeaderCellDef
          [ngClass]="{
            'alert-danger': isDeleted(column.jobId),
            'alert-success': isAdded(column.jobId)
          }"
          class="input-cell"
        >
          <input
            [required]="!isDeleted(column.jobId)"
            minlength="2"
            type="text"
            class="input-cell--content"
            [ngModel]="column.header"
            (ngModelChange)="jobChange($event, i)"
            name="header-{{ i }}"
          />
        </th>
        <td
          md-cell
          *cdkCellDef="let row; let ind = index"
          [ngClass]="{
            'alert-danger': isDeleted(column.jobId),
            'alert-success': isAdded(column.jobId)
          }"
          class="input-cell"
        >
          <input
            minlength="1"
            type="number"
            [max]="getMaxPoint(column.jobId)"
            class="input-cell--content"
            [ngModel]="column.cell(row, column.jobId)"
            (ngModelChange)="markChange($event, column.jobId, ind)"
            name="row-{{ ind }}-{{ i }}"
          />
        </td>
        <td
          md-footer-cell
          *cdkFooterCellDef
          [ngClass]="{
            'alert-danger': isDeleted(column.jobId),
            'alert-success': isAdded(column.jobId)
          }"
          class="delete-td input-cell"
        >
          <button
            *ngIf="!isDeleted(column.jobId) && !isAdded(column.jobId)"
            (click)="delete(column.jobId)"
            type="button"
            class="btn btn-danger"
          >
            {{ t('delete') }}
          </button>
          <div class="message input-cell--content" *ngIf="isDeleted(column.jobId) && !isAdded(column.jobId)">
            {{ t('deteleMessage') }}
            <a (click)="cancelDelete(column.jobId)" class="cancel">{{ t('cancel') }}</a>
          </div>
          <div class="message input-cell--content" *ngIf="isAdded(column.jobId)">
            {{ t('addMessage') }}
            <a (click)="cancelAdd(column.jobId)" class="cancel">{{ t('cancel') }}</a>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="moduleFuild" sticky>
        <th class="student-cell" mat-header-cell *matHeaderCellDef>Modules</th>
      </ng-container>

      <ng-container *ngFor="let column of moduleFuilds; let i = index" [cdkColumnDef]="column.columnDef(i)">
        <th class="student-cell" mat-header-cell *matHeaderCellDef [attr.colspan]="column.number">
          {{ column.header }}
        </th>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedModulesColumns"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedMaxPointColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
  </div>

  <div class="buttons">
    <button (click)="add()" type="button" class="add-button btn btn-success">{{ t('addButton') }}</button>
    <button
      mat-raised-button
      color="primary"
      type="button"
      routerLink="/marks/{{ selectedDisciplineId }}/{{ selectedGroupId }}"
      class="router-button"
    >
      {{ t('backButton') }}
    </button>
    <button mat-raised-button color="primary" type="submit" class="router-button">
      {{ t('saveButton') }}
    </button>
    <button mat-raised-button color="primary" id="redirect-button" type="submit" class="router-button">
      {{ t('saveAndCloseButton') }}
    </button>
  </div>
</form>
