<div class="teachers-filter" *transloco="let t; read: 'teachers'">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" [placeholder]="t('teachersFilter')" />
  </mat-form-field>
</div>

<form (ngSubmit)="save()" ngNativeValidate *transloco="let t; read: 'teachers'">
  <div class="scroll-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <!-- firstName Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ t('firstName') }}</th>
        <td
          mat-cell
          *matCellDef="let element; let i = index"
          [ngClass]="{
            'alert-danger': isDeleted(element.id),
            'alert-success': isAdded(element.id)
          }"
        >
          <input
            required
            minlength="3"
            type="text"
            [(ngModel)]="element.firstName"
            name="firstName-{{ i }}"
            (change)="unsaved()"
          />
        </td>
      </ng-container>

      <!-- lastName Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ t('lastName') }}</th>
        <td
          mat-cell
          *matCellDef="let element; let i = index"
          [ngClass]="{
            'alert-danger': isDeleted(element.id),
            'alert-success': isAdded(element.id)
          }"
        >
          <input
            required
            minlength="3"
            type="text"
            [(ngModel)]="element.lastName"
            name="lastName-{{ i }}"
            (change)="unsaved()"
          />
        </td>
      </ng-container>

      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ t('email') }}</th>
        <td
          mat-cell
          *matCellDef="let element; let i = index"
          [ngClass]="{
            'alert-danger': isDeleted(element.id),
            'alert-success': isAdded(element.id)
          }"
        >
          <input
            required
            minlength="3"
            type="email"
            [(ngModel)]="element.email"
            name="email-{{ i }}"
            (change)="unsaved()"
          />
        </td>
      </ng-container>

      <!-- password Column -->
      <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ t('password') }}</th>
        <td
          mat-cell
          *matCellDef="let element; let i = index"
          [ngClass]="{
            'alert-danger': isDeleted(element.id),
            'alert-success': isAdded(element.id)
          }"
          class="password-field"
        >
          <input
            required
            minlength="3"
            [type]="element.hide ? 'password' : 'text'"
            [(ngModel)]="element.password"
            name="password-{{ i }}"
            (change)="unsaved()"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="element.hide = !element.hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="element.hide"
            class="eye-button"
          >
            <mat-icon>{{ element.hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- isAdmin Column -->
      <ng-container matColumnDef="isAdmin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ t('isAdmin') }}</th>
        <td
          mat-cell
          *matCellDef="let element; let i = index"
          [ngClass]="{
            'alert-danger': isDeleted(element.id),
            'alert-success': isAdded(element.id)
          }"
        >
          <mat-checkbox [(ngModel)]="element.isAdmin" name="isAdmin-{{ i }}" (change)="unsaved()"></mat-checkbox>
        </td>
      </ng-container>

      <!-- delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>{{ t('delete') }}</th>
        <td
          mat-cell
          *matCellDef="let element"
          [ngClass]="{
            'alert-danger': isDeleted(element.id),
            'alert-success': isAdded(element.id)
          }"
          class="delete-td"
        >
          <button
            *ngIf="!isDeleted(element.id) && !isAdded(element.id)"
            (click)="delete(element.id)"
            type="button"
            class="btn btn-danger"
          >
            {{ t('delete') }}
          </button>
          <div class="message" *ngIf="isDeleted(element.id) && !isAdded(element.id)">
            {{ t('deteleMessage') }}
            <a (click)="cancelDelete(element.id)" class="cancel">{{ t('cancel') }}</a>
          </div>
          <div class="message" *ngIf="isAdded(element.id)">
            {{ t('addMessage') }}
            <a (click)="cancelAdd(element.id)" class="cancel">{{ t('cancel') }}</a>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <div class="buttons">
    <button (click)="add()" type="button" class="add-button btn btn-success">{{ t('addButton') }}</button>
    <button mat-raised-button color="primary" type="button" routerLink="/teachers" class="router-button">
      {{ t('backButton') }}
    </button>
    <button mat-raised-button color="primary" type="submit" class="router-button">{{ t('saveButton') }}</button>
  </div>
</form>
