$red: #f00;

.scroll-table {
  padding: 10px 15px 15px;
  overflow-x: auto;
  overflow-y: hidden;
}

table {
  width: 100%;

  .number-cell {
    width: 50px;
  }
}

button {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-size: 14px;
}

input {
  margin: 0 3px;
}

.delete-td {
  width: 100px;
  padding-right: 5px;

  & .message {
    font-size: 10px;

    & .cancel {
      color: $red;
      cursor: pointer;
    }
  }
}

.buttons {
  display: flex;

  & * {
    font-size: 16px;
  }

  & .add-button {
    margin: 20px auto 20px 20px;
  }

  & .router-button {
    position: relative;
    margin: 20px;
  }
}

.teachers-filter {
  margin: 0 20px;
  font-size: 14px;
}

.password-field {
  position: relative;

  .eye-button {
    position: absolute;
    top: 3px;
    right: 10px;
    box-shadow: none;
  }
}
