<div class="filters-container" *transloco="let t; read: 'marks'">
  <mat-form-field class="students-filter">
    <input matInput (keyup)="applyFilter($event.target.value)" [placeholder]="t('studentsFilter')" />
  </mat-form-field>
  <div class="edit-button">
    <button *ngIf="selectedDisciplineId" mat-raised-button color="primary" [routerLink]="editLink">
      {{ t('editMarksButton') }}
    </button>
  </div>
  <div class="edit-button">
    <button mat-raised-button (click)="openDialog()">{{ t('choosePointsButton') }}</button>
  </div>
  <mat-form-field class="groups-filter">
    <mat-label>{{ t('selectGroupDropDown') }}</mat-label>
    <input
      type="text"
      matInput
      [(ngModel)]="groupSelectValue"
      (ngModelChange)="filterGroups()"
      [matAutocomplete]="autoGroup"
    />
    <mat-autocomplete
      autoActiveFirstOption
      #autoGroup="matAutocomplete"
      [displayWith]="displayGroupFn"
      (optionSelected)="selectGroup($event.option.value)"
    >
      <mat-option *ngFor="let group of filteredGroups" [value]="group">
        {{ group.groupNumber }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

<div class="scroll-table" *transloco="let t; read: 'marks'">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- studentName Column -->
    <ng-container matColumnDef="studentName" sticky>
      <th class="student-cell" mat-header-cell *matHeaderCellDef mat-sort-header>{{ t('studentsTitle') }}</th>
      <td class="student-cell" mat-cell *matCellDef="let element">
        {{ element.studentName }}
      </td>
    </ng-container>

    <!-- Generic column definition -->
    <ng-container *ngFor="let column of columns; let i = index" [cdkColumnDef]="column.columnDef(i)">
      <th class="mark-cell" md-header-cell *cdkHeaderCellDef>
        {{ column.header }}
      </th>
      <td class="mark-cell" md-cell *cdkCellDef="let row">
        {{ column.cell(row) }}
      </td>
    </ng-container>

    <!-- SumPoints Column -->
    <ng-container matColumnDef="sumPoints" sticky>
      <th class="student-cell" mat-header-cell *matHeaderCellDef mat-sort-header>
        <b>{{ t('sumPoint') }}</b>
      </th>
      <td class="student-cell" mat-cell *matCellDef="let element">
        {{ getSumPoints(element) }}
      </td>
    </ng-container>

    <!-- Mark Column -->
    <ng-container matColumnDef="mark" sticky>
      <th class="student-cell" mat-header-cell *matHeaderCellDef mat-sort-header>
        <b>{{ t('result') }}</b>
      </th>
      <td class="student-cell" mat-cell *matCellDef="let element">
        {{ getResultCellMark(element) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="moduleFuild" sticky>
      <th class="student-cell" mat-header-cell *matHeaderCellDef>Modules</th>
    </ng-container>

    <ng-container *ngFor="let column of moduleFuilds; let i = index" [cdkColumnDef]="column.columnDef(i)">
      <th class="module-cell" mat-header-cell *matHeaderCellDef [attr.colspan]="column.number">
        {{ column.header }}
      </th>
    </ng-container>

    <ng-container matColumnDef="maxPointFuild" sticky>
      <th class="student-cell" mat-header-cell *matHeaderCellDef>{{ t('maxPoint') }}</th>
    </ng-container>
    <ng-container *ngFor="let column of maxPointFuilds; let i = index" [cdkColumnDef]="column.columnDef(i)">
      <th class="student-cell" mat-header-cell *matHeaderCellDef>
        {{ column.header }}
      </th>
    </ng-container>
    <ng-container matColumnDef="maxPointsSum">
      <th class="student-cell" mat-header-cell *matHeaderCellDef>{{ getSumMaxPoints() }}</th>
    </ng-container>
    <ng-container matColumnDef="maxPointsResult">
      <th class="student-cell" mat-header-cell *matHeaderCellDef>{{ getResultMaxMark() }}</th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedModulesColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedMaxPointColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
