<div class="filters-container" *transloco="let t; read: 'marks'">
  <mat-form-field class="students-filter">
    <input matInput (keyup)="applyFilter($event.target.value)" [placeholder]="t('studentsFilter')" />
  </mat-form-field>
  <div class="edit-button">
    <mat-form-field>
      <mat-label>
        {{ hiddenModules.length === modules.length ? t('allModulesAreHidden') : t('hiddenModules') }}
      </mat-label>
      <mat-select [formControl]="showModules" multiple (selectionChange)="showHideModules()">
        <mat-select-trigger>
          {{ hiddenModules[0] ? hiddenModules[0].moduleName : t('noHiddenModules') }}
          <span *ngIf="hiddenModules.length > 1">
            (+{{ hiddenModules.length - 1 }} {{ hiddenModules.length === 2 ? 'other' : 'others' }})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let module of modules" [value]="module">{{ module.moduleName }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="edit-button">
    <button *ngIf="selectedDisciplineId" mat-raised-button color="primary" [routerLink]="editLink">
      {{ t('editMarksButton') }}
    </button>
  </div>
  <mat-form-field class="groups-filter">
    <mat-label>{{ t('selectGroupDropDown') }}</mat-label>
    <input
      type="text"
      matInput
      [(ngModel)]="groupSelectValue"
      (ngModelChange)="filterGroups()"
      [matAutocomplete]="autoGroup"
    />
    <mat-autocomplete
      autoActiveFirstOption
      #autoGroup="matAutocomplete"
      [displayWith]="displayGroupFn"
      (optionSelected)="selectGroup($event.option.value)"
    >
      <mat-option *ngFor="let group of filteredGroups" [value]="group">
        {{ group.groupNumber }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

<div class="above-scroller" #scroller (scroll)="scrollTop()">
  <div class="scroller" #scroll></div>
</div>
<div class="scroll-table" (scroll)="scrollBottom()" #table *transloco="let t; read: 'marks'">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- studentName Column -->
    <ng-container matColumnDef="studentName" sticky>
      <th class="student-cell" mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ t('studentsTitle') }}
      </th>
      <td class="student-cell" mat-cell *matCellDef="let element">
        {{ element.studentName }}
      </td>
    </ng-container>

    <!-- attendance Column -->
    <ng-container matColumnDef="attendance">
      <th class="student-cell" mat-header-cell *matHeaderCellDef mat-sort-header>{{ t('attendanceTitle') }}</th>
      <td class="student-cell" mat-cell *matCellDef="let element">
        {{ element.attendance }}
      </td>
    </ng-container>

    <!-- attendancePoints Column -->
    <ng-container matColumnDef="attendancePoints">
      <th class="student-cell" mat-header-cell *matHeaderCellDef mat-sort-header>{{ t('attendancePointsTitle') }}</th>
      <td class="student-cell" mat-cell *matCellDef="let element">
        {{ getAttendancePoints(element.attendance) }}
      </td>
    </ng-container>

    <!-- Generic column definition -->
    <ng-container *ngFor="let column of columns; let i = index" [cdkColumnDef]="column.columnDef(i).def">
      <th class="mark-cell" md-header-cell *cdkHeaderCellDef>
        {{ column.header }}
      </th>
      <td class="mark-cell" md-cell *cdkCellDef="let row">
        {{ column.cell(row) }}
      </td>
    </ng-container>

    <!-- SumPoints Column -->
    <ng-container matColumnDef="sumPoints">
      <th class="student-cell" mat-header-cell *matHeaderCellDef mat-sort-header>
        <b>{{ t('sumPoint') }}</b>
      </th>
      <td class="student-cell" mat-cell *matCellDef="let element">
        {{ getSumPoints(element, element.attendance) }}
      </td>
    </ng-container>

    <!-- Mark Column -->
    <ng-container matColumnDef="mark" stickyEnd>
      <th class="student-cell" mat-header-cell *matHeaderCellDef mat-sort-header>
        <b>{{ t('result') }}</b>
      </th>
      <td class="student-cell" mat-cell *matCellDef="let element">
        {{ getResultCellMark(element, element.attendance) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="moduleFuild" sticky>
      <th class="student-cell" mat-header-cell *matHeaderCellDef>{{ t('modules') }}</th>
    </ng-container>

    <ng-container *ngFor="let column of moduleFuilds; let i = index" [cdkColumnDef]="column.columnDef(i).def">
      <th class="student-cell" mat-header-cell *matHeaderCellDef [attr.colspan]="column.number">
        {{ column.header }}
      </th>
    </ng-container>

    <ng-container matColumnDef="maxPointFuild" sticky>
      <th class="student-cell" mat-header-cell *matHeaderCellDef>{{ t('maxPoint') }}</th>
    </ng-container>
    <ng-container *ngFor="let column of maxPointFuilds; let i = index" [cdkColumnDef]="column.columnDef(i).def">
      <th class="student-cell" mat-header-cell *matHeaderCellDef>
        {{ column.header }}
      </th>
    </ng-container>

    <ng-container matColumnDef="maxAttendanceNumber">
      <th class="student-cell" mat-header-cell *matHeaderCellDef>{{ maxAttendance }}</th>
    </ng-container>
    <ng-container matColumnDef="maxAttendancePointsNumber">
      <th class="student-cell" mat-header-cell *matHeaderCellDef>{{ getMaxAttendancePointsNumber() }}</th>
    </ng-container>

    <ng-container matColumnDef="maxPointsSum">
      <th class="student-cell" mat-header-cell *matHeaderCellDef>{{ getSumMaxPoints() }}</th>
    </ng-container>
    <ng-container matColumnDef="maxPointsResult" stickyEnd>
      <th class="student-cell" mat-header-cell *matHeaderCellDef>{{ getResultMaxMark() }}</th>
    </ng-container>

    <ng-container matColumnDef="emptyHeader">
      <th class="student-cell" mat-header-cell *matHeaderCellDef></th>
    </ng-container>

    <ng-container matColumnDef="emptyStickyEndHeader" stickyEnd>
      <th class="student-cell" mat-header-cell *matHeaderCellDef></th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(displayedModulesColumns)"></tr>
    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(displayedColumns)"></tr>
    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(displayedMaxPointColumns)"></tr>
    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns(displayedColumns)"></tr>
  </table>
</div>
