<div class="filters-container">
  <mat-form-field class="students-filter">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Students filter" />
  </mat-form-field>
  <div class="edit-button">
    <button *ngIf="selectedDiscipline" mat-raised-button color="primary" [routerLink]="editLink">Edit marks</button>
  </div>
  <div class="edit-button">
    <button mat-raised-button (click)="openDialog()">Выбрать баллы</button>
  </div>
  <mat-form-field class="groups-filter">
    <mat-label>Select group</mat-label>
    <input
      type="text"
      matInput
      [(ngModel)]="groupSelectValue"
      (ngModelChange)="filterGroups()"
      [matAutocomplete]="autoGroup"
    />
    <mat-autocomplete
      autoActiveFirstOption
      #autoGroup="matAutocomplete"
      [displayWith]="displayGroupFn"
      (optionSelected)="selectGroup($event.option.value)"
    >
      <mat-option *ngFor="let group of filteredGroups" [value]="group">
        {{ group.groupNumber }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="disciplines-filter">
    <mat-label>Select discipline</mat-label>
    <input
      type="text"
      matInput
      [(ngModel)]="disciplineSelectValue"
      (ngModelChange)="filterDisciplines()"
      [matAutocomplete]="autoDiscipline"
    />
    <mat-autocomplete
      autoActiveFirstOption
      #autoDiscipline="matAutocomplete"
      [displayWith]="displayDisciplineFn"
      (optionSelected)="selectDiscipline($event)"
    >
      <mat-option *ngFor="let discipline of filteredDisciplines" [value]="discipline">
        {{ discipline.disciplineValue }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

<div class="scroll-table">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- studentName Column -->
    <ng-container matColumnDef="studentName" sticky>
      <th class="student-cell" mat-header-cell *matHeaderCellDef mat-sort-header>Students Jobs</th>
      <td class="student-cell" mat-cell *matCellDef="let element">
        {{ element.studentName }}
      </td>
    </ng-container>

    <!-- Generic column definition -->
    <ng-container *ngFor="let column of columns; let i = index" [cdkColumnDef]="column.columnDef(i)">
      <th class="mark-cell" md-header-cell *cdkHeaderCellDef>
        {{ column.header }}
      </th>
      <td class="mark-cell" md-cell *cdkCellDef="let row">
        {{ column.cell(row) }}
      </td>
    </ng-container>

    <!-- SumPoints Column -->
    <ng-container matColumnDef="sumPoints" sticky>
      <th class="student-cell" mat-header-cell *matHeaderCellDef mat-sort-header>
        <b>Суммарный балл</b>
      </th>
      <td class="student-cell" mat-cell *matCellDef="let element">
        {{ getSumPoints(element) }}
      </td>
    </ng-container>
    <!-- mark Column -->
    <ng-container matColumnDef="mark" sticky>
      <th class="student-cell" mat-header-cell *matHeaderCellDef mat-sort-header>
        <b>Оценка</b>
      </th>
      <td class="student-cell" mat-cell *matCellDef="let element">
        {{ getResultMark(element) }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
