$black: #000;

.scroll-table {
  padding: 15px 15px 15px 0;
  overflow-x: auto;
  overflow-y: hidden;
}

table {
  width: 100%;

  & .mark-cell {
    min-width: 80px;
    padding: 0 8px;
  }

  & .student-cell {
    min-width: 120px;
  }
}

th {
  &.mat-sort-header-sorted {
    color: $black;
  }
}

.filters-container {
  display: flex;

  & .mat-form-field {
    font-size: 14px;
  }

  & .students-filter {
    margin-right: auto;
  }

  & .edit-button,
  & .groups-filter {
    position: relative;
    margin-right: 12px;
  }

  & .disciplines-filter {
    position: relative;
  }
}
